<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\GraphQl\Query\Resolver\Argument\FieldEntityAttributesPool">
        <arguments>
            <argument name="attributesInstances" xsi:type="array">
                <item name="lof_rma_rma" xsi:type="object">\Lof\RmaGraphQl\Model\Filter\FilterArgumentRma</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\GraphQl\Query\Resolver\Argument\FieldEntityAttributesPool">
        <arguments>
            <argument name="attributesInstances" xsi:type="array">
                <item name="lof_rma_order" xsi:type="object">\Lof\RmaGraphQl\Model\Filter\FilterArgumentOrder</item>
            </argument>
        </arguments>
    </type>

    <preference for="Lof\RmaGraphQl\Api\OrderRepositoryInterface" type="Lof\RmaGraphQl\Model\OrderRepository"/>
    <preference for="Lof\RmaGraphQl\Api\Data\OrderSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

</config>
